/*ABOUT*/

.right-20 {
  bottom: 0;
  right: 20px;
}

/*RESTAURANTS*/
.restaurantes {
  margin-top: 80px;
  margin-left: 50px;
}

.map-container {
  height: 824px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.input[type="text"]:focus {
  border-color: #ffc700;
  color: #ffc700;
}

@media screen and (max-width: 992px) {
  .about-description {
    margin-top: 3.75rem;
  }
}
