.navbar {
  margin-left: 85px;
}

.navbar-logo {
  margin-top: 57px;
  font-size: 27px;
}

.navbar-items {
  margin-top: 60px;
  font-size: 18px;
}

.text-hero {
  font-size: 60px;
}

.container-text-hero {
  width: 579px;
  height: 180px;
  margin-left: 102px;
}

.burger-hero {
  margin-right: 94px;
  margin-left: 158px;
  width: 567px;
  height: 446.26px;
}
