* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@font-face {
  font-family: "Druk Text Wide";
  src: url("./Assets/Fonts/Druk/Font/DrukTextWide-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide Super";
  src: url("./Assets/Fonts/Druk/Font/DrukTextWide-SuperItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: url("./Assets/Fonts/Druk/Font/DrukTextWide-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: url("./Assets/Fonts/Druk/Font/DrukTextWide-HeavyItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: url("./Assets/Fonts/Druk/Font/DrukTextWide-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: url("./Assets/Fonts/Druk/Font/DrukTextWide-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: url("./Assets/Fonts/Druk/Font/DrukTextWide-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide Super";
  src: url("./Assets/Fonts/Druk/Font/DrukTextWide-Super.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Druk Text Wide" !important;
}

.navbar {
  margin-left: 85px;
}

.navbar-logo {
  margin-top: 57px;
  font-size: 27px;

  font-weight: 700;
}

.navbar-items {
  margin-top: 60px;
  font-size: 18px;
}

.container-hero {
  display: flex;
}

.text-hero {
  font-style: "normal";
  font-weight: "bold";

  font-size: clamp(35px, 4.5vw, 60px);
  line-height: 60px;
  color: #000;

  height: 180px;
}

.text-hero-secondary {
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.4);
}

.container-text-hero {
  margin-left: 102px;
  margin-top: 185px;
  width: 579px;
}

.burger-hero {
  margin-right: 94px;
  margin-left: 100px;
  margin-top: 80px;
  width: 567px;
  height: 446.26px;
}

.restaurantes {
  margin-top: 80px;
  margin-bottom: 48.44px;
  margin-left: 50px;
}

.first > a {
  background: #000;
  color: #fff;
}

.searchName {
  width: 676px;
}

.leaflet-container {
  width: 524px;
  height: 609px;
}
